.errGif{
    width: 500px;
    /* z-index: 1; */
    position: relative;
}

.btnCls{
    position: absolute;
    background: #36b77dd7 !important;
    color: white !important;
    bottom:10px;
    right: 30px;
    font-weight: bold;
    /* z-index: 999;    */
}

.btnWrp{
    /* background: gray; */
    /* height: 70vh; */
    position: absolute;
    bottom: 0px;
    right: 260px;
}

/* .MuiButton .btnCls{
    background: green;
} */

.mainDiv{
    height: 75vh;
    position: relative;
    overflow: hidden;
    /* z-index: 1; */
}
